<footer class="footerBody portfolio-footer">
  <div class="container">
    <div class="row gy-4">

      <!-- Brand -->
      <div class="col-md-4">
        <div class="footer-brand">
          <div class="footer-logo">MQ</div>
          <p>
            Software Developer & Backend Engineer<br>
            Building clean, scalable web solutions.
          </p>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul class="footer-contact">
          <li>Email: <a href="mailto:mr0060195@gmail.com">mr0060195@gmail.com</a></li>
          <li>Phone: <span>+91 8688718329</span></li>
          <li>Location: India</li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4">
        <h5>Follow Me</h5>
        <div class="footer-social">
          <a href="https://github.com/MohammedQadeer2/wanderlust" title="GitHub">GitHub</a>
          <a href="https://www.linkedin.com/in/mohammed-qadeer-486385373/" title="LinkedIn">LinkedIn</a>
          <a href="#" title="Twitter">Twitter</a>
        </div>
      </div>

    </div>

    <hr>

    <div class="footer-bottom text-center">
      © 2025 Mohammed Qadeer. All rights reserved.
    </div>
  </div>
</footer>
