/* Navbar Base */
.navbar {
    position: sticky;
    top: o;
    z-index: 1000;
    background: linear-gradient(135deg, #11c5cb77, #25fccd9a);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Container */
.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem rem;
    display: grid;
    /* auto-fit so items expand to fill row, min 100px each */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
}

/* Logo */
.logo {
    font-weight: 800;
    font-size: 1.1rem;
    margin-right: 23rem;
    padding: 3px;
    background-color: #11c5cb;
    border: 2px solid #11c5cb;
    border-radius: 50%;
    color: #0f172a;
}

/* Links */
.nav-links {
    display: flex;
    gap: 3.8rem;
}


.nav-links a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
    position: relative;
}

.nav-links>.authBtns {
    display: none;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: green;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Actions */
.nav-actions {
    display: flex;
    margin-left: 10rem;
    gap: 1.5rem;
}

.nav-btn {
    padding: 0.45rem 1rem;
    border-radius: 999px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.3s;
}

.nav-btn.outline {
    background: #22d3ee;
    color: #0f172a;
}

.nav-btn.outline:hover {
    border: 1px solid #22d3ee;
    color: black;
}

.nav-btn.solid {
    background: #22d3ee;
    color: #0f172a;
}

.nav-btn.solid:hover {
    border: 1px solid #22d3ee;
    color: black;
}

/* Mobile */
.menu-toggle {
    display: none;
    font-size: 1.6rem;

    cursor: pointer;
}

.auth {
    display: none;
}

/* Responsive */
@media (max-width: 758px) {
    .nav-actions {
        display: none;
    }

    .logo {
        margin-right: 15rem;
    }

    .menu-toggle {
        display: flex;
        margin-left: 15rem;
        z-index: 1100;
        pointer-events: auto;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(135deg, #11c5cbcc, #25fccdcc);
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem 0;
        gap: 0.4rem;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        transition: 2s;
        animation: navFadeDown 0.6s ease-out forwards;
    }



    @keyframes navFadeDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 0.6rem 0;
        background-color: rgba(0, 128, 92, 0.638);
        border: 2px solid black;
        border-radius: 0.7rem;
    }

    .nav-links a:hover {
        box-shadow: 2px 2px 10px black;
    }

    .nav-links>.authBtns {
        display: inline;
    }


    .nav-links.open {
        display: flex;
        /* transform: translateY(0);
        opacity: 1; */
    }

    .hero {
        position: relative;
        z-index: 1;
    }

    .auth {
        display: block;
    }

}


@media (max-width: 400px) {
    .logo {
        margin-right: 7.5rem;
    }

    .menu-toggle {
        display: block;
        margin-left: 7.5rem;
    }

    .nav-container {
        max-width: 1200px;
        margin: auto;
        padding: rem 2rem;
    }
}