
    <div class="auth-body">
        <div class="login-box">
            <h2>Login</h2>

            <form method="POST" action="/login">
                <div class="input-group">
                    <label for="email">Email Address</label>
                    <input name="email" type="email" id="email" placeholder="Enter your email" required />
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" placeholder="Enter your password" required />
                </div>

                <button class="btn ls-btn" type="submit">Login</button>

                <div class="extra-links">
                    <p><a href="#">Forgot Password?</a></p>
                    <p>Don't have an account? <a href="/signUp">Register</a></p>
                </div>
            </form>
        </div>
    </div>